<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新建文章</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/tiancai9Headers.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: white;
    }
    .rich {
        margin-top: 100px;
    }
    .rich-title {
        width: 100%;
        height: 1rem;
    }
    .rich-title-input {
        width: 90%;
        height: 1rem;
        padding: 0 .6rem;
        background-color: #efefef;
        border: 0;
        color: black;
    }
    #editor {
        margin: .4rem 0;
        width: 90%;
        text-align: left;
    }
    .col-md-12 {
        margin: .3rem 0;
        margin-left: 5%;
    }
    .loading {
        display: none;
        color: orange;
    }
    .ending {
        display: none;
        color: green;
    }
    .erring {
        display: none;
        color: red;
    }
</style>

<body>
    <menu class="menu">
        <div class="menu-mylogo">
            <div class="menu-mylogo-logo">
                9
            </div>
            <div class="menu-mylogo-title">逍遥君の小屋</div>
        </div>
        <div class="menu-user">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li id="UserState"><a href="../views/login.html">登录</a></li>
                <li class="UserMymid"><a href="usermymid.html">个人中心</a></li>
                <li onclick="UserLogout()" class="UserMymid"><a>登出</a></li>
            </ul>
        </div>
    </menu>
    <!-- 富文本 -->
    <div align="center" class="rich">
        <div class="rich-title">
            <input class="rich-title-input" type="text" />
        </div>
        <div id="editor">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>分类：</b>
            <select class="type">
                <option>Javascript</option>
                <option>Vue</option>
                <option>React</option>
                <option>Angular</option>
                <option>jQuery</option>
                <option>其他</option>
            </select>
        </div>
        <div class="col-md-12">
            <b>封面图：</b>
            <b class="loading">正在上传图片ing...</b>
            <b class="ending">图片完成上传</b>
            <b class="erring">图片上传失败X</b>
            <input id="LoadIMG" type="file" />
            <p style="color: red" >*(如未选择封面图则使用头像作为封面图)</p>
        </div>
        <div class="col-md-12">
            <button id="NewTitle" type="button" class="btn btn-success">创建</button>
        </div>
    </div>
</body>

<script type="text/javascript" src="../js/tiancai9Headers.js"></script>
<script type="text/javascript" src="../js/result.js"></script>
<script type="text/javascript" src="../js/tiancai9Headers.js"></script>
<!-- 富文本插件WangEditor -->
<script type="text/javascript" src="./NewTitle/wangEditor.min.js"></script>
<script type="text/javascript">

var ImgSwitch = null

// 加载富文本
var E = window.wangEditor
var editor = new E('#editor')
editor.customConfig.zIndex = 1
editor.customConfig.menus = [
    'bold',
    'fontSize',
    'foreColor',
    'justify',
    'code',
    'image',
    'undo'

]
editor.create()

$(document).ready(function() {
    // 监听LoadIMG上传图片
    LoadIMG()
    // 提交文章
    $('#NewTitle').click(function() {
        if(ImgSwitch && ImgSwitch.code == 200) {
            NewTitle(ImgSwitch.data)
        }else {
            alert('请上传封面图')
        }
    })
})

function NewTitle(ImgPath) {
    var title = $('.rich-title-input').val()
    var description = JSON.stringify(editor.txt.getJSON())
    var type = $('.type').val()
    var ImgPath = ImgPath
    if (title !== '' && description !== '' && type !== '' && ImgPath !== ''){
        var data = {
                title_title: title,
                title_description: description,
                title_type: type,
                title_img: ImgPath
            }
        $.ajax({
            type: "post",
            url: url + 'api/newtitle',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            jsonp: "callback",
            data: JSON.stringify(data),
            beforeSend: function(XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("tiancai9token", token);
            },
            success: function (res) {
                if(res.code == 200) {
                    alert(res.data + '接下来跳往主页')
                    window.location.href = '../index.html'
                }else {
                    alert(res.data)
                }
            },error:function(error){
                console.log(error);
            }
        });
    }else {
        alert('请填写完表单')
    }
}

function LoadIMG () {
    $('#LoadIMG').change(function(file) {
        file = file.target.files[0]
        $('.loading').css('display', 'block')
        $('.ending').css('display', 'none')
        $('.erring').css('display', 'none')
        // console.log(file)
        var loadFrom = new FormData()
        loadFrom.append('file', file)
        $.ajax({
            url: url + "api/loadimg",
            type: "POST",
            data: loadFrom,
            processData: false,
            contentType: false,
            success: function(res) {
                if (res.code == 200) {
                    $('.loading').css('display', 'none')
                    $('.ending').css('display', 'block')
                }else {
                    $('.loading').css('display', 'none')
                    $('.erring').css('display', 'block')
                }
                return ImgSwitch = res
            }
        });
    })
}

</script>

</html>